extends layout

block head
  - title = 'Analyse'
  link(rel="stylesheet", href="/static/css/analysis.css")
 
block content
  form#analysis-form
    .form-group
      label(for="stock-symbol") Aktie
      input#stock-symbol(type="text", name="stock", maxlength="30", required placeholder="z.B. AAPL")
    .form-group
      label(for="exchange") Handelsplatz
      input#exchange(type="text", name="exchange", maxlength="30", required placeholder="z.B. NASDAQ")
    .form-group
      label(for="date-from") Von (optional)
      input#date-from(type="date", name="from")
    .form-group
      label(for="date-to") Bis (optional)
      input#date-to(type="date", name="to")

    
    fieldset
      legend Analysemethoden
      .checkbox-group
        each step in steps
          div
            input(type="checkbox", id=step, name="steps", value=step)
            label(for=step)= step

      .form-group
        label(for="y-value-source") Y-Wert Quelle
        select#y-value-source(name="yValueSource", required)
          each source in yValueSources
            option(value=source.value selected=(source.value === 'close'))= source.label

      .form-group
        label(for="money-management") Money Management
        select#money-management(name="moneyManagement")
          each option in moneyManagementOptions
            option(value=option.value selected=(option.value === ''))= option.label

      .form-group
        label(for="risk-management") Risk Management
        select#risk-management(name="riskManagement")
          each option in riskManagementOptions
            option(value=option.value selected=(option.value === ''))= option.label

      .form-group
        label(for="initial-capital") Startkapital
        input#initial-capital(type="number", name="initialCapital", min="0", step="any" placeholder="z.B. 10000")

      .form-group
        label SwingPointDetection Optionen
        input(type="number", name="swingPointDetectionAtrFactor", min="0", step="any" placeholder="ATR-Faktor (z.B. 2)")
        input(type="number", name="swingPointDetectionRelativeThreshold", min="0", max="1", step="any" placeholder="Relative Threshold (z.B. 0.05)")

      .form-group
        label TrendDetection Optionen
        input(type="number", name="trendDetectionAtrFactor", min="0", step="any" placeholder="ATR-Faktor (z.B. 2)")
        input(type="number", name="trendDetectionRelativeThreshold", min="0", max="1", step="any" placeholder="Relative Threshold (z.B. 0.05)")

      .form-group
        label RiskManagement Optionen
        input(type="number", name="riskManagementAtrFactor", min="0", step="any" placeholder="ATR-Faktor (z.B. 2)")
        input(type="number", name="riskManagementRelativeThreshold", min="0", max="1", step="any" placeholder="Relative Threshold (z.B. 0.05)")
    button(type="submit") Analyse starten

  #analysis-container
    // Hier wird der Kontostand dynamisch eingefügt
    p#account-balance

block scripts
  script(src="/static/vendor/lightweight-charts/lightweight-charts.standalone.production.js")
  script(src="/static/js/analysis.js")
